.config-icon {
  line-height: 1;
  margin-right: 5px;
  font-size: 0;
}

.settings-group {
  margin-bottom: 10px;

  .settings-group-title {
    font-size: 2em;
  }

  .settings-group-content {
    color: default;

    button:first-child {
      margin-left: 0;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  :global {
    .primary-btn:first-child {
      margin-left: 0;
    }
  }
}

.check {
  // margin-right: 10px;
  margin-bottom: 5px;
  margin-inline-start: 0 !important;
  margin-inline-end: 5px !important;
}
