@use 'sass:math';

.settings-group {
  margin-bottom: 10px;

  .settings-group-title {
    font-size: 2em;
    display: flex;
    align-items: center;
  }

  .settings-group-sub-title {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  .settings-group-content {
    color: default;
    button:first-child {
      margin-left: 0;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  :global {
    .primary-btn:first-child {
      margin-left: 0;
    }
  }
}

.check {
  // margin-right: 10px;
  margin-bottom: 5px;
  margin-inline-start: 0 !important;
  margin-inline-end: 5px !important;
}

.setting-tabs {
  &:global {
  }
}

.tab-pane {
  overflow-y: scroll;
  min-height: 362px;
  max-height: max(362px, calc(90vh - #{50px + 56px + 15px}));
}
