@{
    var viewModel = (Afdian.Action.ViewModels.AfdianViewModel)@Model;
}

@for (int i = 0; i < viewModel.Sponsor.data.list.Count(); i++)
{
    @{
        var sponsorItem  = viewModel.Sponsor.data.list[i];
     }

<a href="https://afdian.com/u/@sponsorItem.user.user_id">
    <img src="@sponsorItem.user.avatar?imageView2/1/w/120/h/120" width="40" height="40" alt="@sponsorItem.user.name" title="@sponsorItem.user.name"/>
</a>
}
<!-- 注意: 尽量将标签前靠,否则经测试可能被 GitHub 解析为代码块 -->
