.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11000;

  // make .model center
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  border: 1px solid #fa6a9d;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  padding: 0 15px 15px 15px;

  display: flex;
  flex-direction: column;

  .modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    display: flex;
    align-items: center;

    .modal-title {
      font-size: 1.5rem;
      margin-bottom: 0;
      line-height: 1.5;
    }

    .btn-refresh,
    .btn-close {
      :global(body.dark) & {
        color: #eee !important;
        background-color: #333 !important;
        border-color: transparent !important;
        height: auto;
        padding: 8px 12px;
        line-height: 16px;
        font-size: 13px;
      }
    }

    .btn-close {
      margin-left: 10px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  .modal-body {
    padding-top: 0;
    flex-grow: 1;
    overflow-y: scroll;
  }
}

.list {
  color: inherit;
}

.card {
  color: inherit;
}

.video-card-list:global(.is-full) {
  :global {
    .video-card-body.more-class1.more-class2 {
      > * {
        display: block !important;
      }
    }
  }
}

.loader {
  text-align: center;
  line-height: 60px;
  font-size: 120%;
}
