dist/
/dist-*/
node_modules
.turbo
tmp/

*.less.d.ts
*.scss.d.ts

# visualizer
/stats.html
/stats.*

# privacy
src/define/watchlater-full.json

/.vite-inspect

# temporary files
/vite.config.ts.timestamp*
