#recommend .video-card-common {
  margin-bottom: 12px;
}
.dislike-botton,
.tname {
  position: absolute;
  top: 2px;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  font-weight: bold;
  transition: all 0.3s;
  text-shadow: 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black;
  color: white;
  z-index: 22;
}
.spread-module .tname,
.video-card-common .tname {
  left: 6px;
}
.spread-module .dislike-botton,
.video-card-common .dislike-botton {
  right: 6px;
  font-size: 14px;
}
.dislike-list {
  display: none;
}
.dislike-list > div:hover {
  text-decoration: line-through;
}
.video-card-common:hover .tname,
.video-card-common:hover .dislike-botton,
.spread-module:hover .pic .tname,
.spread-module .pic:hover .dislike-botton {
  opacity: 1;
}
.dislike-botton:hover .dislike-list {
  display: unset;
}
.dislike-cover {
  position: absolute !important;
  top: 0px;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.9);
  text-align: center;
  font-size: 15px;
  z-index: 22;
}
#ranking-all ul.rank-list {
  overflow-y: auto;
  padding-top: 0 !important;
}
#ranking-all .rank-head {
  margin-bottom: 20px !important;
}
#ranking-all .rank-list .rank-item.show-detail .ri-detail {
  width: calc(100% - 90px) !important;
}
