.modal {
  z-index: 11000;
  overflow: hidden;

  .modal-dialog {
    width: calc(100vw - 50px);
    max-width: none !important;
    margin-top: 25px;
    height: calc(100vh - 50px);

    .modal-content {
      height: 100%;
    }

    .modal-header {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: none;
    }

    .modal-body {
      padding-top: 0;
      flex-grow: 1;
      overflow-y: scroll;
    }
  }
}

.list {
  color: inherit;
}

.card {
  color: inherit;
}

.video-card-list:global(.is-full) {
  :global {
    .video-card-body.more-class1.more-class2 {
      > * {
        display: block !important;
      }
    }
  }
}
