.modal {
  z-index: 11000;

  .modal-dialog {
    width: 90vw;
    max-width: none !important;
    margin-top: 60px;

    .modal-content {
      color: inherit;
    }
  }
}

.list {
  color: inherit;
}

.card {
  color: inherit;
}
