.grid {
  color: default;
}

@media (min-width: 2200px) {
  .video-card-list:global(.is-full) {
    grid-column: span 7 !important;

    :global {
      .video-card-body.more-class1.more-class2 {
        grid-column: span 7 !important;
        grid-template-columns: repeat(7, 1fr) !important;

        > * {
          display: block !important;
        }
        > *:nth-of-type(1n + 15) {
          display: none !important;
        }
      }
    }
  }
}

.expand-btn {
  padding: 0;
  width: 31px;
  height: 31px;
  border-radius: 50%;

  svg {
    width: 13px;
    height: 13px;

    transform: rotateZ(180deg);
    &.expanded {
      transform: rotateZ(0deg);
    }
  }
}
