/**
 * 新版首页
 * 使用的是 .video-card-body 的样式
 * 在B站自己的首页中, .bili-grid > 2200px 是分 7 列, .video-card-body > 2200px 分6列
 */

.video-grid {
  --video-card-border-radius: 6px;
  display: grid;
  position: relative;
  width: 100%;
  grid-gap: 20px 12px;
  grid-template-columns: repeat(var(--col), minmax(0, 1fr));
}

@mixin homepage-new-mixin($col) {
  .video-grid-new-homepage {
    --col: #{$col};
    &.limit-two-lines > *:nth-of-type(1n + #{$col * 2 + 1}) {
      display: none !important;
    }
  }
}
@media (width <= 1099.9px) {
  @include homepage-new-mixin(4);
}
@media (1100px <= width <= 1700.9px) {
  @include homepage-new-mixin(5);
}
@media (1701px <= width <= 2199.9px) {
  @include homepage-new-mixin(6);
}
@media (width >= 2200px) {
  @include homepage-new-mixin(7);
}

/**
 * 内测首页
 * 取自 .battle-feed-area .battle-feed-body
 */

.video-grid-internal-testing {
  // grid-gap: 60px 20px; // original
  grid-gap: 20px 20px;
}

@mixin homepage-internal-testing-mixin($col) {
  .video-grid-internal-testing {
    --col: #{$col};
    &.limit-one-line > *:nth-of-type(1n + #{$col + 1}) {
      display: none !important;
    }
    &.limit-two-lines > *:nth-of-type(1n + #{$col * 2 + 1}) {
      display: none !important;
    }
  }
}
@media (width < 1400px) {
  @include homepage-internal-testing-mixin(4);
}
@media (width >= 1400px) {
  @include homepage-internal-testing-mixin(5);
}

/**
 * youtube like
 */

.video-grid-container {
  container-name: video-grid-container;
  container-type: inline-size;
}

$gap-row: 40px;
$gap-col: 20px;
$card-min-width: 250px;

.video-grid-fancy {
  grid-gap: $gap-row $gap-col;
  --video-card-border-radius: 15px;
  --col: 2; // when width < $min-2
}

@for $i from 2 through 5 {
  @container video-grid-container (width >= #{($card-min-width + $gap-col) * $i - $gap-col}) {
    .video-grid-fancy {
      --col: #{$i};
    }
  }
}

/**
 * 双列模式
 */

.narrow-mode {
  --col: 2 !important;
}
