/*
  使用的是 .video-card-body 的样式
  .video-card-list.is-full .video-card-body {
    position: relative
  }
  在B站自己的首页中, .bili-grid > 2200px 是分 7 列, .video-card-body > 2200px 分6列
*/

.video-grid {
  --video-card-border-radius: 6px;
  display: grid;
  position: relative;
  width: 100%;
  grid-gap: 20px 12px;
  grid-template-columns: repeat(var(--col), minmax(0, 1fr));
}

@media (width <= 1099.9px) {
  .video-grid-new-homepage {
    --col: 4;
  }
  .video-grid-new-homepage.limit-two-lines > *:nth-of-type(1n + 9) {
    display: none !important;
  }
}
@media (1100px <= width <= 1700.9px) {
  .video-grid-new-homepage {
    --col: 5;
  }
  .video-grid-new-homepage.limit-two-lines > *:nth-of-type(1n + 11) {
    display: none !important;
  }
}
@media (1701px <= width <= 2199.9px) {
  .video-grid-new-homepage {
    --col: 6;
  }
  .video-grid-new-homepage.limit-two-lines > *:nth-of-type(1n + 13) {
    display: none !important;
  }
}
@media (width >= 2200px) {
  .video-grid-new-homepage {
    --col: 7;
  }
  .video-grid-new-homepage.limit-two-lines > *:nth-of-type(1n + 15) {
    display: none !important;
  }
}

/**
 * 内测页面
 * 取自 .battle-feed-area .battle-feed-body
 */

.video-grid-internal-testing {
  // grid-gap: 60px 20px; // original
  grid-gap: 20px 20px;
}

// less mixin
// .gen-col(@col) {
//   --col: @col;
//   @limit1: @col + 1;
//   @limit2: @col * 2 + 1;

//   &.limit-one-line > *:nth-of-type(1n + @limit1) {
//     display: none !important;
//   }
//   &.limit-two-lines > *:nth-of-type(1n + @limit2) {
//     display: none !important;
//   }
// }
// .gen-col(4);
// .gen-col(5);

@media (width < 1400px) {
  .video-grid-internal-testing {
    --col: 4;
    &.limit-one-line > *:nth-of-type(1n + 5) {
      display: none !important;
    }
    &.limit-two-lines > *:nth-of-type(1n + 9) {
      display: none !important;
    }
  }
}
@media (width >= 1400px) {
  .video-grid-internal-testing {
    --col: 5;
    &.limit-one-line > *:nth-of-type(1n + 6) {
      display: none !important;
    }
    &.limit-two-lines > *:nth-of-type(1n + 11) {
      display: none !important;
    }
  }
}

/**
 * youtube like
 */

.video-grid-container {
  container-name: video-grid-container;
  container-type: inline-size;
}

@gap-row: 50px;
@gap-col: 20px;
@card-min-width: 250px;

.video-grid-fancy {
  grid-gap: @gap-row @gap-col;
  --video-card-border-radius: 15px;
  --col: 2; // when width < @min-2
}

@min-2: (@card-min-width + @gap-col) * 2 - @gap-col;
@container video-grid-container (width >= @min-2) {
  .video-grid-fancy {
    --col: 2;
  }
}

@min-3: (@card-min-width + @gap-col) * 3 - @gap-col;
@container video-grid-container (width >= @min-3) {
  .video-grid-fancy {
    --col: 3;
  }
}

@min-4: (@card-min-width + @gap-col) * 4 - @gap-col;
@container video-grid-container (width >= @min-4) {
  .video-grid-fancy {
    --col: 4;
  }
}

@min-5: (@card-min-width + @gap-col) * 5 - @gap-col;
@container video-grid-container (width >= @min-5) {
  .video-grid-fancy {
    --col: 5;
  }
}

/**
 * 双列模式
 */
.narrow-mode {
  --col: 2 !important;
}
