.modal {
  width: 500px;
}

.title-desc {
  margin-left: 5px;
  font-size: 40%;
  // line-height: 36px;
  // vertical-align: baseline;
}

.reason-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reason {
  color: inherit;
  width: 45%;
  text-align: center;
  line-height: 20px;

  border: 1px solid #eee;
  :global(body.dark) & {
    border: 1px solid #333;
  }

  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
