.modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11003;

  // make .model center
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 500px;
  max-height: calc(80vh - 50px);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  padding: 0 15px 15px 15px;

  display: flex;
  flex-direction: column;

  .modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    display: flex;
    align-items: center;

    .modal-title {
      font-size: 1.5rem;
      margin-bottom: 0;
      line-height: 1.5;
    }

    .title-desc {
      margin-left: 5px;
      font-size: 40%;
      // line-height: 36px;
      // vertical-align: baseline;
    }

    .btn-close {
      margin-left: 10px;

      svg {
        width: 10px;
        height: 10px;
        margin-right: 3px;
        margin-top: -2px;
      }

      :global(body.dark) & {
        color: #eee !important;
        background-color: #333 !important;
        border-color: transparent !important;
        height: auto;
        padding: 8px 12px;
        line-height: 16px;
        font-size: 13px;
      }
    }
  }

  .modal-body {
    padding-top: 0;
    flex-grow: 1;
    overflow-y: scroll;
  }
}

.reason-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reason {
  color: inherit;
  width: 45%;
  text-align: center;
  line-height: 20px;

  border: 1px solid #eee;
  :global(body.dark) & {
    border: 1px solid #333;
  }

  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
