@use '../../common/_vars.scss';

.modal {
  width: 500px;
}

.title-desc {
  margin-left: 5px;
  font-size: 40%;
  // line-height: 36px;
  // vertical-align: baseline;
}

.reason-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reason {
  color: inherit;
  width: 48%;
  text-align: center;
  line-height: 20px;
  position: relative;

  border: 1px solid #eee;
  :global(body.dark) & {
    border: 1px solid #333;
  }

  &.active {
    border-color: vars.$bili-pink;
    border-radius: 4px;
  }

  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reason-no {
  position: absolute;
  left: 6px;

  $size: 20px;
  width: $size;
  height: $size;
  border-radius: 50%;
  top: #{calc((32px - $size) / 2)};

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: slateblue;
  background-color: vars.$bili-pink;
  color: #fff;
}

.tips-container {
  margin-top: 20px;
}

.tips {
  display: flex;
  align-items: center;
}
