.primary-btn:disabled {
  &:active,
  &:hover {
    cursor: wait;
    background-color: inherit;
  }
}

.ant-btn {
  font-size: 13px;
  line-height: 24px;
  &:disabled {
    cursor: wait;
  }
}

.ant-radio-button-wrapper-disabled {
  cursor: wait;
}

// fix ant-tooltip a style
body .ant-tooltip a {
  color: #1677ff;
  transition: color 0.3s;

  &:visited {
    color: #1677ff;
  }
  &:hover {
    color: #69b1ff;
  }
  &:active {
    color: #0958d9;
  }
}

body button:where(.ant-switch) {
  &:focus,
  &:active {
    background-color: rgba(0, 0, 0, 0.25);
    outline: unset;
  }
}

.ant-message-custom-content {
  [role='img'] {
    position: relative;
    top: -2px; // useApp() 返回的需要 !!!
  }
}
