@use '../../../common/css-vars' as *;

:global {
  body {
    .bili-video-card__skeleton--cover,
    .bili-video-card__skeleton--text,
    .bili-video-card__skeleton--light,
    .bili-video-card__skeleton--avatar {
      background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.06) 25%,
        rgba(0, 0, 0, 0.15) 37%,
        rgba(0, 0, 0, 0.06) 63%
      );
    }
  }

  // other type already handled by Bilibili-Evolved
  #{$app-cls-dark-selector} .bili-video-card__skeleton--avatar {
    background-color: #444;
  }

  .bili-video-card__skeleton--text.tiny {
    margin-top: 4px;
    width: 15%;
  }
}

.skeleton-active {
  :global(.bili-video-card__skeleton--cover),
  :global(.bili-video-card__skeleton--text),
  :global(.bili-video-card__skeleton--light),
  :global(.bili-video-card__skeleton--avatar) {
    background-size: 400% 100%;
    animation-name: ant-skeleton-loading;
    animation-duration: 2.165s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

@keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  // https://css-tricks.com/css-keyframe-animation-delay-iterations/
  // raw animation-duration: 1.4s; / 0.618 = 2.165s
  61.8%,
  100% {
    background-position: 0 50%;
  }
}
